@import '../Utilities/variables';

.WeeklyGoal-wrapper{
  display: flex;
  height: 100vh;
}

.WeeklyGoal-container {
  display: flex;
  float: right;
  position: relative;
  flex-grow: 4;

  .WeeklyGoal-day {
    flex: 1;

    .WeeklyGoal-day-name {
      display: block;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      font-size: 30px;
      font-weight: 400;
      background-color: $white;
      color: $second-primary;
    }

    .WeeklyGoal-day-tasks {
      display: flex;
      flex-direction: column;
      background-color: $lightblue;
      border-radius: 10px;
      min-height: 300px;
      margin: 1px;

      &:hover {
        background-color: $second-primary;
      }

      &:hover .addTaskButton {
        display: inline-block;
      }
    }
  }

  .add-taskButton-container {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;

  }

  .addTaskButton {
    @extend .styledButton;
    display: none;
    margin: 3px;
  }
}

.control-label {
  font-size: 16px;
  color: $black;
}

.modal-Add-Task {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: $black;
  background-color: $shadow;
}

.modal-content {
  background-color: $white;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid $grey;
  width: 30vw;
}

.close {
  color: $grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $black;
  text-decoration: none;
  cursor: pointer;
}

.form-control {
  @extend .input-text;
  width: 27vw;
  margin-bottom: 40px;
  text-align: center;
}

.modal-Add-Task-Form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-info {
  @extend .styledButton;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}
.rjsf {
  text-align: center;
}

fieldset {
  border: 1px solid transparent;
}

.field-range-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#root_weight {
  width: 80%;
  height: 12px;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: #1579FB;
  box-shadow: inset 0 3px 18px $shadow;
  outline: none;
  cursor: pointer;
  order: 2
}

.range-view {
  background-color: #ffffff;
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
  line-height: 60px;
  border-radius: 50% 50% 50% 50%;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-size: 24px;
  order: 1;
  align-self: center;
}

.Task {
  background-color: $white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;

  &:hover {
    box-shadow: $shadow 0px 0 10px;
  }

  &-header {
    font-weight: 600;
    font-size: 16px;
    display: block;
  }

  &-type {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    font-size: 15px;
    color: $primary-color;
  }

  &-icon {
    margin-top: 10px;
    color: $primary-color;
    display: inline-block;
  }

  &-done {
    background-color: $lightgrey;
  }

  &-details {
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    padding-top: 5px;

    &:hover {
      color: $primary-color;
    }
  }
}

.ModalViewTask-info {
  font-size: 20px;
}

.ModalViewTask-button {
  @extend .styledButton;
  margin-top: 10px;
  margin-left: 10px;
}

.completed {
  background-color: #808080;
  text-decoration: line-through;
}

.hidden {
  display: none;
}